body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.navbar {
  background: #6200ea;
  padding: 15px;
  text-align: center;
}

.navbar a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}

.page {
  margin: 50px;
  padding: 40px;
  background: white;
  border-radius: 10px;
  text-align: center;
}
